vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Feb 2013 13:08:13 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|ALMEIDA_IT\\Almeida
vti_modifiedby:SR|ALMEIDA_IT\\Almeida
vti_timecreated:TR|11 Feb 2013 13:08:13 -0000
vti_cacheddtm:TX|11 Feb 2013 13:08:13 -0000
vti_filesize:IR|5640
vti_cachedlinkinfo:VX|S|../default/img/buttons.png S|../default/img/buttons.png S|../default/img/buttons.png S|../../img/icons.gif S|../../img/icons.gif S|../default/img/tabs.gif S|../default/img/tabs.gif S|../default/img/tabs.gif S|../default/img/tabs.gif S|../default/img/tabs.gif
vti_cachedsvcrellinks:VX|FSUS|js/tiny_mce/themes/advanced/skins/default/img/buttons.png FSUS|js/tiny_mce/themes/advanced/skins/default/img/buttons.png FSUS|js/tiny_mce/themes/advanced/skins/default/img/buttons.png FSUS|js/tiny_mce/themes/advanced/img/icons.gif FSUS|js/tiny_mce/themes/advanced/img/icons.gif FSUS|js/tiny_mce/themes/advanced/skins/default/img/tabs.gif FSUS|js/tiny_mce/themes/advanced/skins/default/img/tabs.gif FSUS|js/tiny_mce/themes/advanced/skins/default/img/tabs.gif FSUS|js/tiny_mce/themes/advanced/skins/default/img/tabs.gif FSUS|js/tiny_mce/themes/advanced/skins/default/img/tabs.gif
vti_backlinkinfo:VX|
